<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0218" targetFramework="net471" />
  <package id="LiteDB" version="4.1.4" targetFramework="net471" />
  <package id="MahApps.Metro" version="2.0.0-alpha0186" targetFramework="net471" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0096" targetFramework="net471" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net471" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="Scriban" version="1.2.9" targetFramework="net471" />
</packages>